Repository kubernetes-sigs/gcp-filestore-csi-driver, pull requests merged in 2020-10, with the labels that each got.

#61 Enable Backup Create/Delete for CSI Filestore driver
  deploy/kubernetes/manifests/controller.yaml
  deploy/kubernetes/manifests/setup_cluster.yaml
  examples/kubernetes/backups-restore/backup-volumesnapshotclass.yaml
  examples/kubernetes/backups-restore/backup.yaml
  examples/kubernetes/backups-restore/restored-pod-pvc.yaml
  examples/kubernetes/backups-restore/sc.yaml
  examples/kubernetes/backups-restore/source-pod-pvc.yaml
  examples/kubernetes/backups/backup-different-region.yaml
  examples/kubernetes/backups/backup-same-region.yaml
  examples/kubernetes/backups/backup-volumesnapshotclass-diff-region.yaml
  examples/kubernetes/backups/backup-volumesnapshotclass-same-region.yaml
  hack/verify_govet.sh
  pkg/cloud_provider/file/fake.go
  pkg/cloud_provider/file/file.go
  pkg/cloud_provider/metadata/fake.go
  pkg/csi_driver/controller.go
  pkg/csi_driver/controller_test.go
  pkg/csi_driver/controller_unimpl.go
  pkg/csi_driver/gcfs_driver.go
  pkg/util/util.go
  test/run_sanity.sh
  test/run_unit.sh
  vendor/google.golang.org/api/file/v1beta1/file-gen.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, release-note, size/XXL

#65 create overlays for filestore driver
  README.md
  deploy/common.sh
  deploy/kubernetes/base/controller/controller.yaml
  deploy/kubernetes/base/controller/csi_driver.yaml
  deploy/kubernetes/base/controller/kustomization.yaml
  deploy/kubernetes/base/controller/psp.yaml
  deploy/kubernetes/base/controller/setup_cluster.yaml
  deploy/kubernetes/base/kustomization.yaml
  deploy/kubernetes/base/node_linux/kustomization.yaml
  deploy/kubernetes/base/node_linux/node.yaml
  deploy/kubernetes/base/node_linux/psp.yaml
  deploy/kubernetes/cluster_cleanup.sh
  deploy/kubernetes/cluster_setup.sh
  deploy/kubernetes/images/prow-gke-release-staging-head/image.yaml
  deploy/kubernetes/images/prow-gke-release-staging-head/kustomization.yaml
  deploy/kubernetes/images/prow-gke-release-staging-rc/image.yaml
  deploy/kubernetes/images/prow-gke-release-staging-rc/kustomization.yaml
  deploy/kubernetes/images/stable/image.yaml
  deploy/kubernetes/images/stable/kustomization.yaml
  deploy/kubernetes/install_kustomize.sh
  deploy/kubernetes/overlays/dev/WARNING.md
  deploy/kubernetes/overlays/dev/controller_always_pull.yaml
  deploy/kubernetes/overlays/dev/kustomization.yaml
  deploy/kubernetes/overlays/dev/nfs_services_allways_pull.yaml
  deploy/kubernetes/overlays/dev/noauth.yaml
  deploy/kubernetes/overlays/dev/node_always_pull.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-head/README.md
  deploy/kubernetes/overlays/prow-gke-release-staging-head/kustomization.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-head/resizer_timeout_flag_update.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-rc/README.md
  deploy/kubernetes/overlays/prow-gke-release-staging-rc/kustomization.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-rc/resizer_timeout_flag_update.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
  deploy/project_setup.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, release-note, size/XL

#66 Fix CSI e2e test
  test/e2e/tests/single_zone_e2e_test.go
  test/e2e/utils/utils.go
  test/remote/archiver.go
  test/remote/client-wrappers.go
  test/remote/instance.go
  test/run_e2e_local.sh
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, release-note, size/M

#68 Add extra validation in e2e on instance via file api
  test/e2e/tests/setup_e2e_test.go
  test/e2e/tests/single_zone_e2e_test.go
  test/remote/file.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note, size/M

#71 setup kubetest network for k8s e2e test
  test/k8s-integration/cluster.go
  test/k8s-integration/config/fs-sc-basic-hdd.yaml
  test/k8s-integration/config/test-config-template.in
  test/k8s-integration/driver-config.go
  test/k8s-integration/main.go
Labels: approved, cncf-cla: yes, lgtm, release-note, size/S
