Repository kubernetes-sigs/gcp-filestore-csi-driver, pull requests merged in 2021-07, with the labels that each got.

#142 Rename master to main
  cloudbuild.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note, size/XS

#141 solved the image pull auth issue by adding oauthscopes in api request
  test/k8s-integration/cluster.go
  test/k8s-integration/main.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-ok-to-test, release-note-none, size/S

#143 cleaning up the clusterUpGKE
  test/e2e/utils/utils.go
  test/k8s-integration/cluster.go
  test/k8s-integration/main.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/M

#124 Tweak documentation
  docs/kubernetes/pre-provisioned-pv.md
  examples/kubernetes/pre-provision/preprov-pv.yaml
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, release-note-none, size/S

#144 fixed issue with unability to recognize gce-region flag is set
  test/k8s-integration/main.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, needs-ok-to-test, release-note-none, size/XS

#145 fixed issue with clusterUpGKE when release channel is set
  test/k8s-integration/cluster.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, needs-ok-to-test, release-note-none, size/XS

#146 Overlays documentation and some readme updates
  README.md
  docs/release/overlays.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, release-note-none, size/L

#148 Fix kube version parse
  test/k8s-integration/cluster.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, size/XS

#147 update v1beta1 api and move filestore api calls to beta1 api
  pkg/cloud_provider/file/fake.go
  pkg/cloud_provider/file/file.go
  test/e2e/tests/resize_e2e_test.go
  test/e2e/tests/setup_e2e_test.go
  test/remote/file.go
  vendor/google.golang.org/api/container/v1beta1/container-api.json
  vendor/google.golang.org/api/file/v1beta1/file-api.json
  vendor/google.golang.org/api/file/v1beta1/file-gen.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note, size/L

#149 support for enterprise tier filestore instance
  pkg/csi_driver/controller.go
  pkg/csi_driver/controller_unimpl.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/S

#150 Skip topology tests for filestore csi driver
  test/k8s-integration/config/test-config-template.in
  test/k8s-integration/driver-config.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, size/S

#151 CHANGELOG 0.6
  CHANGELOG/CHANGELOG-0.6.md
Labels: approved, cncf-cla: yes, kind/documentation, release-note, size/M

#152 Update readme for 0.6 release
  README.md
Labels: approved, cncf-cla: yes, kind/documentation, release-note, size/XS

#153 Update prow rc images with 0.6.0 rc1
  deploy/kubernetes/images/prow-gke-release-staging-rc-1-17/image.yaml
  deploy/kubernetes/images/prow-gke-release-staging-rc-1-18/image.yaml
  deploy/kubernetes/images/prow-gke-release-staging-rc-1-19/image.yaml
  deploy/kubernetes/images/prow-gke-release-staging-rc-1-20/image.yaml
  deploy/kubernetes/images/prow-gke-release-staging-rc-master/image.yaml
Labels: approved, cncf-cla: yes, release-note, size/S

#154 Simplify logic to determine PVC request size
  pkg/csi_driver/controller.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/XS

#155 update demo StorageClass with enterprise tier
  CHANGELOG/CHANGELOG-0.6.md
  examples/kubernetes/demo-sc.yaml
Labels: approved, cncf-cla: yes, kind/documentation, release-note, size/XS

#156 Cherrypick #154, #155 to release-0.6
  CHANGELOG/CHANGELOG-0.6.md
  examples/kubernetes/demo-sc.yaml
  pkg/csi_driver/controller.go
Labels: approved, cncf-cla: yes, kind/cleanup, release-note-none, size/XS

#157 Update prow rc staging overlay with 0.6.0-rc2 image
  deploy/kubernetes/images/prow-gke-release-staging-rc-1-17/image.yaml
  deploy/kubernetes/images/prow-gke-release-staging-rc-1-18/image.yaml
  deploy/kubernetes/images/prow-gke-release-staging-rc-1-19/image.yaml
  deploy/kubernetes/images/prow-gke-release-staging-rc-1-20/image.yaml
  deploy/kubernetes/images/prow-gke-release-staging-rc-master/image.yaml
Labels: approved, cncf-cla: yes, release-note, size/S

#158 Adding step to clone repository at specific path used by cluster-setup.sh
  README.md
Labels: cncf-cla: yes, ok-to-test, release-note-none, size/XS

#159 Update stable images to use 0.6.0
  CHANGELOG/CHANGELOG-0.6.md
  README.md
  deploy/kubernetes/images/stable-1-17/image.yaml
  deploy/kubernetes/images/stable-1-18/image.yaml
  deploy/kubernetes/images/stable-1-19/image.yaml
  deploy/kubernetes/images/stable-1-20/image.yaml
  deploy/kubernetes/images/stable-master/image.yaml
Labels: approved, cncf-cla: yes, kind/documentation, release-note, size/S

#160 Cherrypick #153, #157, #157, #158, #159 to release-0.6
  CHANGELOG/CHANGELOG-0.6.md
  README.md
  deploy/kubernetes/images/prow-gke-release-staging-rc-1-17/image.yaml
  deploy/kubernetes/images/prow-gke-release-staging-rc-1-18/image.yaml
  deploy/kubernetes/images/prow-gke-release-staging-rc-1-19/image.yaml
  deploy/kubernetes/images/prow-gke-release-staging-rc-1-20/image.yaml
  deploy/kubernetes/images/prow-gke-release-staging-rc-master/image.yaml
  deploy/kubernetes/images/stable-1-17/image.yaml
  deploy/kubernetes/images/stable-1-18/image.yaml
  deploy/kubernetes/images/stable-1-19/image.yaml
  deploy/kubernetes/images/stable-1-20/image.yaml
  deploy/kubernetes/images/stable-master/image.yaml
Labels: approved, cncf-cla: yes, release-note, size/M
