Repository kubernetes-sigs/gcp-filestore-csi-driver, pull requests merged in 2024-10, with the labels that each got.

#961 add test sc file for zonal
  test/k8s-integration/config/fs-sc-zonal-default-network.yaml
Labels: lgtm, release-note-none, size/XS, cncf-cla: yes, approved, ok-to-test

#966 Add small band support in the zonal Filestore tier
  pkg/csi_driver/controller.go
  pkg/csi_driver/controller_test.go
Labels: release-note, lgtm, size/L, cncf-cla: yes, approved, kind/design, ok-to-test

#976 Update README and stable-master image
  README.md
  deploy/kubernetes/images/stable-master/image.yaml
Labels: lgtm, release-note-none, size/XS, cncf-cla: yes, approved, ok-to-test

#977 Lock release unit test
  pkg/csi_driver/node_test.go
  pkg/releaselock/configmap_util_test.go
  pkg/releaselock/controller.go
  pkg/releaselock/controller_test.go
  pkg/releaselock/fake.go
  pkg/releaselock/rpc.go
Labels: kind/feature, lgtm, release-note-none, cncf-cla: yes, approved, size/XL, ok-to-test
