Repository kubernetes-sigs/gcp-filestore-csi-driver, pull requests merged in 2025-03, with the labels that each got.

#1067 Added Small Basic support
  pkg/csi_driver/controller.go
  pkg/csi_driver/controller_test.go
  test/remote/client-wrappers.go
Labels: kind/feature, release-note, lgtm, size/L, cncf-cla: yes, approved, ok-to-test

#1073 Round up max capacity if limit is not set
  pkg/csi_driver/controller.go
  pkg/csi_driver/controller_test.go
Labels: kind/bug, release-note, lgtm, size/M, cncf-cla: yes, approved, ok-to-test

#1074 [cherry-pick] Added small basic support
  pkg/csi_driver/controller.go
  pkg/csi_driver/controller_test.go
  test/remote/client-wrappers.go
Labels: release-note, lgtm, size/L, cncf-cla: yes, approved, ok-to-test

#1086 Use protobuf encoding for core K8s APIs in lock release controller
  cmd/lockrelease/main.go
  pkg/csi_driver/node.go
  test/k8s-integration/cluster.go
Labels: kind/feature, release-note, lgtm, size/XS, cncf-cla: yes, approved, kind/cleanup, ok-to-test

#1090 Enable NFSv4 behind feature flag
  cmd/main.go
  pkg/csi_driver/controller.go
  pkg/csi_driver/controller_test.go
  pkg/csi_driver/gcfs_driver.go
  pkg/csi_driver/node.go
  pkg/csi_driver/node_test.go
Labels: kind/feature, release-note, lgtm, size/L, cncf-cla: yes, approved, ok-to-test

#1080 Unwrap original error from temporary when reporting to operation_erro…
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
Labels: kind/bug, lgtm, size/L, release-note-none, cncf-cla: yes, approved, ok-to-test
